apiVersion: apps/v1
kind: Deployment
metadata:
  name: vehicle-management-api
  namespace: tech-challenge
  labels:
    app: vehicle-management-api
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vehicle-management-api
  template:
    metadata:
      labels:
        app: vehicle-management-api
        tier: backend
    spec:
      containers:
        - name: vehicle-management-api
          image: vehicle-management-api:latest
          ports:
            - containerPort: 8000
              protocol: TCP
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: vehicle-management-secrets
                  key: database-url
            - name: AUTH_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: vehicle-management-secrets
                  key: auth-database-url
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: vehicle-management-secrets
                  key: secret-key
            - name: SALES_SERVICE_URL
              value: "http://vehicle-sales-api-service:8001"
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10
      restartPolicy: Always
